<main class=" flex flex-col justify-center items-center px-4  min-h-screen bg-indigo-50 py-6 p-2">
  {{!-- <div class="bg flex min-h-screen min-w-full z-0"></div> --}}
  <section class="px-4 z-10 w-1/4 sm:mx-auto py-10 bg-white shadow-lg sm:rounded-xl sm:p-10 flex flex-col">
    <div class="text-3xl font-bold  text-center my-2 font-mono">ImgRecognize</div>
 
      <form action="/file-upload"
          class="border-indigo-400 dropzone border-4 box-border p-28 my-3 border-dashed font-mono"
          id="my-awesome-dropzone">
        <div class="dz-message text-xl">Перетащите фото</div>    
      </form>

    
  </section>
</main>
